@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    //     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    //     sans-serif;
    font-family: 'Montserrat', 'Helvetica Neue';
    line-height: 1;
    font-weight: 400;
    color: $font-color-primary;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

/****************** buttons ***************/
.btn {
    &:link,
    &:visited {
        display: inline-block;
        background-color: $color-main;
        color: #fff;
        border-radius: 1rem;
        text-decoration: none;
        transition: all 0.3s;
    }

    &:hover,
    &:active {
        filter: brightness(90%);
    }
}

.scroll-into-view-animation {
    animation: moveSectionUp 1s;
    animation-fill-mode: forwards;
}

.disabled {
    &:link,
    &:visited {
        pointer-events: none;
        background-color: grey;
        color: white !important;
        // border: none !important;
    }
}

/**********************/
// MEDIA QUERIES //
/**********************/

/**********************/
// BELOW 1104 px (landscape tablets)
/**********************/
@media (max-width: $landscape-tablets) {
    html {
        /* 9px / 16px  */
        font-size: 56.25%;
    }
}

/**********************/
// BELOW 976 px (tablets)
/**********************/
@media (max-width: $tablets) {
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }
}

// /**********************/
// // BELOW 736 px (smaller tablets)
// /**********************/
@media (max-width: $smaller-tablets) {
    html {
        /* 7px / 16px = 0.44 = 44% */
        font-size: 44%;
    }
}

/**********************/
// BELOW 528 px (phones)
/**********************/
@media (max-width: $phones) {
    .container {
        text-align: center;
    }
}

/**********************/
// BELOW 368 px (smaller phones)
/**********************/
@media (max-width: $smaller-phones) {
    html {
        font-size: 37.5%;
    }
}
