@import './variables.scss';

.heading-primary {
    font-size: 5.2rem;
    letter-spacing: -0.5px;
}

.heading-secondary {
    font-size: 4.4rem;
    font-family: Helvetica, sans-serif;
    margin-bottom: 6.4rem;
    // letter-spacing: 0.3rem;
    // text-transform: uppercase;
    color: $color-main;
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2.4rem;
}

/**********************/
// BELOW 1104 px (landscape tablets)
/**********************/
@media (max-width: $landscape-tablets) {
    .heading-primary {
        font-size: 4.4rem;
    }
}
