@import './variables.scss';

.heading-primary {
    font-size: 5.2rem;
    letter-spacing: -0.5px;
}

.heading-secondary {
    font-size: 4.4rem;
    font-family: Helvetica, sans-serif;
    margin-bottom: 6.4rem;
    // letter-spacing: 0.3rem;
    // text-transform: uppercase;
    color: $color-main;
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2.4rem;
}

/**********************/
// BELOW 1104 px (landscape tablets)
/**********************/
@media (max-width: $landscape-tablets) {
    .heading-primary {
        font-size: 4.4rem;
    }
}

/**********************/
// BELOW 976 px (tablets)
/**********************/
@media (max-width: $tablets) {
    .heading-tertiary {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
    }
}

/**********************/
// BELOW 736 px (smaller tablets)
/**********************/
@media (max-width: $smaller-tablets) {
    .heading-primary {
        font-size: 3.6rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
        margin-bottom: 4.8rem;
    }
}

/**********************/
// BELOW 528 px (phones)
/**********************/
@media (max-width: $phones) {
}
