/****************** COLORS ***************/
$color-main: #3b5bdb;
$color-main-light: #edf2ff;
$color-main-light-2: #91a7ff;

/****************** FONT COLORS ***************/
$font-color-primary: #555;

/****************** FONT ***************/
$default-font: 1.6rem;

$default-border-radius: 1rem;

$box-shadow-default: 0rem 0rem 2.8rem rgba(#000, 0.15);
