/****************** COLORS ***************/
$color-main: #3b5bdb;
$color-main-light: #edf2ff;

/****************** FONT COLORS ***************/
$font-color-primary: #555;

/****************** FONT ***************/
$default-font: 1.6rem;
