@import '../../sass/variables.scss';

.section-aboutme {
    padding-top: $section-padding-top;
    padding-bottom: 6.4rem;
    transform: translateY(10rem);
    .aboutme {
        &__paragraph {
            background-color: #fff;
            font-size: 2rem;
            line-height: 1.5;
            padding: 3.2rem;
            border-radius: $default-border-radius;
            box-shadow: $box-shadow-default;
        }

        &__important-text {
            color: $color-main;
            font-weight: 500;
        }
    }
}
