@keyframes moveTextUp {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    25% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}

@keyframes initialSubtitleMove {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    45% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveHeadingDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
