@import '../../sass/variables.scss';
@import '../../sass/typography.scss';
@import './heroAnimations.scss';

.section-hero {
    background-image: linear-gradient(to bottom, $color-main-light, #fff);

    .hero {
        max-width: 120rem;
        padding: 20rem 0;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &__img {
            border-radius: 999999rem;
            width: 95%;
        }

        &__heading,
        &__subtitle {
            animation: moveHeadingDown 0.5s ease-out;
        }

        &__name {
            color: $color-main;
        }

        &__subtitle {
            margin: 1.8rem 0 4rem 0;
            font-size: 4.8rem;
            animation: initialSubtitleMove 2s;
        }

        &__cta {
            padding: 1.2rem 2.4rem;
            font-size: 2rem;
            font-weight: 700;
        }

        &__socials-list {
            display: inline-block;

            list-style: none;
            padding-top: 1.6rem;

            display: flex;
            gap: 1.6rem;
            align-items: center;

            .social-link {
                &:link,
                &:visited {
                    display: inline-block;
                    color: inherit;

                    transition: all 0.3s;
                }

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 2.4rem 4.8rem rgba(#000, 0.08);
                }

                &:active {
                    transform: translateY(-1px);
                }
            }
        }

        &__rotating-text {
            transform: translateY(5rem);
            opacity: 0;
            padding-left: 2.4rem;
            font-weight: 500;
        }

        &__rotating-text:nth-of-type(1) {
            position: absolute;
            animation: moveTextUp 6s ease-out infinite;
            animation-delay: 1s;
            // animation-fill-mode: forwards;
        }
        &__rotating-text:nth-of-type(2) {
            position: absolute;
            animation: moveTextUp 6s ease-out infinite;
            animation-delay: 3s;
            // animation-fill-mode: forwards;
        }
        &__rotating-text:nth-of-type(3) {
            position: absolute;
            animation: moveTextUp 6s ease-out infinite;
            animation-delay: 5s;
            // animation-fill-mode: forwards;
        }
    }

    @import './heroQueries.scss';
}
