@import '../../sass/variables.scss';

@media (max-width: $tablets) {
    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: #fff;
        // z-index: 98;

        &__list {
            display: flex;
            flex-direction: column;
        }

        opacity: 0;
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* 3) Hide it from screen readers */
        visibility: hidden;

        &__mobile-btn {
            position: relative;
            display: block;
            border: none;
            background-color: transparent;
            z-index: 999;

            .mobile-icon {
            }
        }
    }

    .nav-open .mobile-icon--close {
        display: block;
    }
    .nav-open .mobile-icon--open {
        display: none;
    }

    .nav-open .nav {
        // opacity: 1;
        // pointer-events: auto;
        // visibility: visible;
    }

    .nav-open .nav__mobile-btn::after {
        z-index: -1;
        content: ' ';
        display: inline-block;
        background-color: orange;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation: expandNavBackground 1s;
        animation-fill-mode: forwards;
    }

    @keyframes expandNavBackground {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(200);
        }
    }
}
