@import '../../sass/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 3.2rem;
    background-color: $color-main-light;

    &__logo {
        font-size: 2.4rem;
        font-weight: 700;
    }
}
