@import '../../sass/variables.scss';

/**********************/
// BELOW 976 px (tablets)
/**********************/
@media (max-width: $tablets) {
    .header {
        &__logo {
            transition-delay: 0.2s;
        }

        .mobile-nav-circle {
            display: inline-block;
            z-index: -1;
            background-color: $color-main-light-4;
            border-radius: 50%;

            //max screen size for mobile screen is 61em * 16px = 976px(97.6rem)
            width: 300vmax;
            height: 300vmax;

            position: absolute;
            top: 0;
            left: 100%;
            // top: 4.5rem;
            // left: calc(100vw - 5.5rem);
            // top: 4.7rem;
            // left: 95.5%;
            transform: translate(-50%, -50%) scale(0);
            // top: 0;
            // left: 100%;
            // transform: translate(-95.5%, calc(0% - 4.5rem));

            transition: transform 0.5s;
        }
    }

    .nav-open {
        & > .mobile-nav-circle {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    .nav-open > .header__logo {
        color: white;
    }
}
